<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty Characters</title>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}"/>
</head>
<body class="container">
<h1 class="fw-bold">Персонажи сериала "Рик и Морти"</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Раса</th>
            <th>Фото</th>
        </tr>
    </thead>
    <tbody id="character-table-body"></tbody>
</table>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary" id="prev-button">Назад</a>
    <a class="btn btn-primary" id="next-button">Вперёд</a>
</div>
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>


<script>
    let currentPage = 0;
    const pageSize = 10;
    const tableBody = document.getElementById('character-table-body');
    const prevButton = document.getElementById('prev-button');
    const nextButton = document.getElementById('next-button');

    function loadPerson(page) {
            fetch('/api/characters?page=' + page)
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                    currentPage = page;

                    prevButton.disabled = (page === 0);
                    window.scrollTo(0,0);
                })
                .catch(error => console.error('Ошибка загрузки персонажей: ', error));
    }

    function updateTable(characters){
        // Очистка таблицы
        tableBody.innerHTML = '';
        // Заполнение таблицы
        characters.forEach(character => {
            const row = document.createElement('tr');
            row.innerHTML = `
                <td>${character.id}</td>
                <td><a href="http://localhost:8080/rickandmortyui/character?id=${character.id}">${character.name}</a></td>
                <td>${character.status}</td>
                <td>${character.species}</td>
                <td><img src="${character.image}" alt="Image" style="width:100px"/></td>
            `;
            tableBody.appendChild(row);
        })
    }

    // Кнопки
    prevButton.addEventListener('click', () => {
        if (currentPage > 0) {
            loadPerson(currentPage - 1)
        }
    });
    nextButton.addEventListener('click', () => {
        loadPerson(currentPage + 1)
    })

    loadPerson(0);
</script>
</body>
</html>